.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list__icon:hover {
  cursor: pointer;
}

.todo-list__icon:active {
  transform: scale(0.95, 0.95);
}

.done-icon {
  color: rgb(56, 190, 56);
}

.delete-icon {
  color: rgb(199, 0, 0);
  margin-left: 1em;
}