.todo-form__input {
  width: 90%;
  border: 1px solid black;
  outline: none;
  margin-top: 3em;
  padding: 3px 10px;
  text-indent: .7em;
}

.todo-form__button {
  width: 10%;
  border: 1px solid black;
  outline: none;
  margin-top: 3em;
  padding: 3px 0px;
  text-indent: .7em;
  border-left: none;
}