.todo-form__input {
  border: 1px solid black;
  outline: none;
  padding: 3px 10px;
  text-indent: .7em;
}

.todo-form__button {
  width: 10%;
  border: 1px solid black;
  outline: none;
  padding: 3px 0px;
}

#addReminder-checkbox {
  margin-left: 1em;
  color: rgb(47, 117, 221);
  font-size: 24px;
}

#addReminder-checkbox:hover {
  color: rgb(41, 92, 235);
  cursor: pointer;
}

#addReminder-checkbox:active {
  transform: scale(0.95, 0.95);
}

@media screen and (max-width: 480px) {
  #addReminder-checkbox {
    margin-left: 0;
  }
}