body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}